In [18]:
import agate

****I imported the agate data library

In [19]:
spills = agate.Table.from_csv('downloads/spillfac-csv.csv')

****I instructed jupyter to create a table from the data.

In [20]:
print(spills)

|--------------------------------------+---------------|
|  column_names                        | column_types  |
|--------------------------------------+---------------|
|  SPILLNO-------                      | Text          |
|  S                                   | Text          |
|  OWNCO--------------------           | Text          |
|  OWNSTREET-----------                | Text          |
|  OWNCITY-------------                | Text          |
|  OS                                  | Text          |
|  OZIP                                | Text          |
|  TY                                  | Number        |
|  DIDATE----                          | Date          |
|  SPLOC     ------------------------- | Text          |
|  SPCITY-------------------           | Text          |
|  SPCOUN-------------------           | Text          |
|  MATERIAL----------------------      | Text          |
|  SFM_ID--                            | Text          |
|  FAC_NAME-----------------           | Text          |
|--------------------------------------+---------------|

****I printed the structure of the table.

In [21]:
print(len(spills.rows))

18545

****I printed the number of rows.

In [22]:
spills1 = spills.where(lambda row: row['S'] != '5')
print(len(spills1.rows))

2379

****I filtered the data to include only active spills.

In [23]:
spills2 = spills1.where(lambda row: row['S'] != '6')
print(len(spills2.rows))

1783

****I filtered the data to include only active spills.

In [24]:
spills3 = spills2.where(lambda row: row['S'] != '7')
print(len(spills3.rows))

1719

****I filtered the data to include only active spills

In [25]:
spills4 = spills3.where(lambda row: row['S'] != '8')
print(len(spills4.rows))

1447

****I filtered the data to include only active spills.

In [26]:
spills5 = spills4.where(lambda row: row['S'] != 'R')
print(len(spills5.rows))

1264

****I filtered the data to include only active spills.

In [27]:
spills6 = spills5.where(lambda row: row['S'] != 'V')
print(len(spills6.rows))

1226

****I filtered the data to include only active spills.

In [28]:
by_owner = spills6.group_by('OWNCO--------------------')

****I grouped the data by the owner of the leaking tank.

In [29]:
totals = by_owner.aggregate([
    ('count', agate.Length())])

****I counted the number of active spills for each owner.

In [30]:
sorted_totals = totals.order_by('count', reverse=True
)

****I sorted the table so that the owners wth the most spills appeared first.

In [31]:
sorted_totals.print_table(max_rows=20)

|----------------------------+--------|
|  OWNCO-------------------- | count  |
|----------------------------+--------|
|  Unknown                   |   110  |
|                            |   109  |
|  BNSF                      |    29  |
|  BENSON 66 INC             |    13  |
|  UPRR                      |     9  |
|  WHITEHEAD OIL CO          |     7  |
|  SAPP BROS                 |     6  |
|  BOSSELMAN INC             |     6  |
|  OFFUTT AFB                |     6  |
|  CITY OF OMAHA             |     5  |
|  CONTEMPORARY INDU...      |     5  |
|  CASEYS GENERAL ST...      |     4  |
|  RITEWAY OIL & GAS...      |     4  |
|  ARMY CORPS OF ENG...      |     4  |
|  PILOT FLYING J            |     4  |
|  NEBR DEPT OF ROADS        |     4  |
|  CITY OF LINCOLN           |     3  |
|  NPPD                      |     3  |
|  KWIK SHOP                 |     3  |
|  CENTRAL VALLEY AG...      |     3  |
|  ...                       |   ...  |
|----------------------------+--------|

****I printed the table